html {
	overflow-x: hidden;
}

.page-row {
	flex-wrap: nowrap;
}

#roomPreview {
	position: sticky;
	top: 64px;
	z-index: 2;

	@media only screen and (max-width: 900px) {
		width: 100%;
		height: auto;
		canvas {
			width: 100%;
			height: 100%;
		}
	}

	@media only screen and (min-width: 900px) {
		canvas {
			width: 100%;
		}
	}
	&.fullscreen {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		overflow: scroll;
		/*display: flex;
		align-items: center;
		justify-content: center;*/
		canvas {
			width: auto;
		}
		background-color: rgba(0, 0, 0, 0.7);
	}
}

#layerPreview {
	position: absolute;
	width: fit-content;
	z-index: 3;
	pointer-events: none;
	background-color: #00000070;
}

table {
	border-radius: 1em;
	text-align: center;
	flex: 1;
	min-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	row-gap: 0;
	position: relative;
	&,
	th {
		height: 2em;
		background-color: var(--green);
		border-radius: 1em;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	th {
		position: sticky;
		top: 64px;
		font-size: x-large;
		&:first-child {
			border-left: none;
		}
		&::before {
			background-color: inherit;
			height: 50%;
			width: 100%;
			top: 0;
			position: absolute;
			content: "";
			z-index: -2;
		}
		color: white;
	}
	tbody {
		height: 2.5em;
		position: relative;
		tr,
		.sortable-placeholder {
			td {
				padding: 4px;
				&.drag-widget,
				&:nth-child(2) {
					width: 40px !important;
					padding: 0.5em;
					height: 0.8em;
				}
				&:nth-child(3) {
					width: 50%;

					@media only screen and (max-width: 900px) {
						width: 100%;
					}
				}
				* {
					min-width: 2em;
					width: 100%;
					height: 2em;
				}
			}
		}
	}
	tbody tr:hover,
	.hover {
		background-color: #00000030;
	}
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

.sortable-placeholder {
	height: 52px;
	border: 1px dashed #00000030;
	border-radius: 3px;
	border-width: 0.3em;
}

input {
	text-align: center;
	border-radius: 5px;
	border-style: none;
	//min-width: 100%;
	padding: 3px;
	&[type="number"] {
		//width: 2em;
		-moz-appearance: textfield;
		&::-webkit-outer-spin-button,
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
		&:hover {
			border-width: 5px;
			border-color: var(--red);
			border-style: solid;
		}
	}
}
