table {
	flex: 1;
	max-width: 100%;
	tbody > * {
		padding: 1em;
		height: 2.5em;
		* {
			height: 2em;
			width: 2em;
		}
	}
	tr {
		padding: 0.5em;
		background-color: var(--green);
	}
	th {
		&:first-child {
			border-left: none;
		}
	}
}

.sortable-placeholder {
	height: 1em;
	border: 1px dashed #000000;
}

.drag-widget {
	padding: 0.5em;
	height: 0.8em;
	width: 1.8em;
}

input {
	width: 10em;
	min-width: 100%;
	&[type="number"] {
		width: 2em;
	}
	&[type="checkbox"] {
		width: 2em;
	}
}
